#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#fundo {
  background-color: #1a1a1a;
  border-radius: 8px;
}

#titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 3px;
}

#titulo a {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  transition: 0.25s;
}

#titulo a.active {
  color: #646cff;
  font-size: 120%;
  transform: scale(1.08);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form>* {
  margin: 10px 0px;
}

#arquivos {
  width: 1000px;
}

li {
  list-style: none;
}

input {
  width: 200px;
}

#download {
  margin: 10px;
  background-color: green;
}

#apagar {
  background-color: red;
}

#download,
#apagar {
  padding: 0em 0.6em;
}

#download:hover,
#apagar:hover {
  border-color: white;
  padding: 0em 0.6em;
}

#file {
  width: 100%;
}

#file::file-selector-button {
  cursor: pointer;
  height: 40px;
}